<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/site.css?v=' | append: site.github.build_revision | relative_url }}">
    {% seo %}
  </head>

  <body>

    <nav role="navigation" class="black">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{{ '/' | relative_url }}" class="brand-logo">RTOF Data Schema</a>
        <ul class="right hide-on-med-and-down">
          {% include top-nav.html %}
        </ul>

        <ul id="nav-mobile" class="sidenav">
          {% include top-nav.html %}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="section">
        {{ content }}
      </div>
    </div>

    <!-- FOOTER  -->
    <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <p>
            {{ site.title | default: site.github.repository_name }} maintained by
            <a href="https://www.socialfinance.org.uk/">Social Finance</a>.
            Published with <a href="https://pages.github.com">GitHub Pages</a>.
            <span class="right">
              <a href="https://github.com/SocialFinanceDigitalLabs/rtof-data-model/commit/{{site.data.git.git_hexsha}}">{{site.data.git.git_version}}</a>
              - <a href="https://github.com/{{site.data.git.git_committer_name}}">{{site.data.git.git_committer_name}}</a>
              - {{site.data.git.git_committed_date}}
            </span>
        </p>
        </div>
      </div>
    </footer>

    <span class="forkongithub">
        <a href="https://github.com/SocialFinanceDigitalLabs/rtof-data-model">Fork me on GitHub</a>
    </span>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/index.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </body>
</html>
