---
layout: default
---
{% assign record = site.data.records | where: "id", page.record_id | first %}

<h1>{{ record.id | upcase }} Record</h1>

<p>
{{ record.description }}
</p>

<table>
<thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Dimension</th>
    <th>Decision status</th>
  <tr>
</thead>
<tbody>
{% for field in record.fields %}
  <tr>
    <td><a href="#{{ field.id }}">{{ field.id }} {% if field.primary_key %} <b>[PK]</b>{% endif %}</a></td>
    <td>{{ field.name }}</td>
    <td>{{ field.type.id }}</td>
    <td>{% if field.dimensions %}
        {% for d in site.dimensions %}
          {% if d.dimensions.id == field.dimensions.id %}
            <a href="{{site.baseurl}}/{{d.url}}">{{ d.dimensions.id }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}</td>
    <td>{{ field.status }}</td>
  </tr>
{% endfor %}
</tbody>
</table>

<h2>Record Samples</h2>
<table>
<thead>
  <tr>
    {% for field in record.fields %}
      <th>{{field.id}}</th>
    {% endfor %}
  <tr>
</thead>
<tbody>
{% for row in site.data.sample_data[record.id] %}
  <tr>
    {% for field in record.fields %}
      <td>{{row[field.id]}}</td>
    {% endfor %}
  </tr>
{% endfor %}
</tbody>
</table>




<h2>Fields</h2>

{% for field in record.fields %}
<section id="{{field.id}}">
<h3>{{field.id}}: {{field.name}}</h3>
<p>{{ field.description }}</p>
<p> Status: {{field.status }}</p>
<p> Latest comments: {{field.latest_comments}}</p>

<table>
  <tr><th>Type</th><td>{{ field.type.id }}</td></tr>
{% if field.primary_key %}
  <tr><th>Primary Key</th><td>True</td></tr>
{% endif %}
{% if field.validation.required %}
  <tr><th>Required</th><td>True</td></tr>
{% endif %}
<tr>
  <th>Validators</th>
  <td>
    <ul>
      {% for v in field.validation %}
        <li>{{v[0]}}</li>
      {% endfor %}
    </ul>
  </td>
</tr>

</table>

</section>
{% endfor %}
